@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  body {
    @apply bg-dark-900 text-dark-50 font-sans font-normal;
  }
  
  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
} 